<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        
        <div class="topnav">
            <a class="fittrack">FIT-TRACK</a>
        </div>
          </div>

        <div class="main-container">
            <div class="main-col">
                <h2>
                    <% if(currentUser) { %> Hello <%=currentUser.username%>!
                        Let's get started!
                    <br />
                    <h2>
                        <a class="dashboard" href="/app">
                            <button> Home Page</button>
                        </a>
                    </h2>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Logout" id="logout-btn" />
                    </form>
                </h2>
                <% } else { %>
                <h1>Tired of not sticking to your workout plans?</h1>
                <div class="articles">
                    <article>
                        ABOUT US<br>
                        FIT-TRACK is an app to track and manage all your workout plans. <br>
                        With a click of a button, you can easily plan your future workouts and make sure check them off when its completed! <br>
                        Start getting your dream body today!
                    </article>
                 
                </div>
            </div>
            <div class="login">
                <h3>Login to your account</h3>
                <a href="/sessions/new">
                    <button id="login">Log In</button>
                </a>
                <br />
                <h3>Join us</h3>
                <a href="/users/new">
                    <button id="login">Register</button>
                </a>
                <% } %>
            </div>
        </div>
    </body>
</html>