
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    color: rgb(14, 255, 14);
    background-color:black;
    margin-left: 40px;


     
} 
/*header */
.topnav {
    overflow: hidden;
    min-height: 80px;
    background-color:black;
 background-size: cover;
}

.fittrack{
    color: rgb(14, 255, 14);
    font-size: 80px;
    text-align: center;
}




/*Login page */
#login{
    color: rgb(14, 255, 14);
    
}

/*Account create */
.submit{
    color: rgb(14, 255, 14);

}
.back{
    color: rgb(14, 255, 14);
}


/*Welcome back page */
.enter{
    color: rgb(14, 255, 14);

}

/*Index.ejs page */
/* .dashboard {
    color: rgb(14, 255, 14);

} */

input[type=button], input[type=submit], input[type=add]{
    background-color: #000000;
    color: rgb(14, 255, 14);
   
  }

 /*style table*/
.index-add{
     margin-left: auto;
  margin-right: auto;
}