
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    color: rgb(14, 255, 14);
    background-color:black;
    background-image: url("https://hardcoremma133302486.files.wordpress.com/2020/07/1244858.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;  

     
} 
/*header */
.topnav {
    overflow: hidden;
    min-height: 80px;
    background-color:black;
 background-size: cover;
}

.fittrack{
    color: rgb(14, 255, 14);
    font-size: 80px;
    text-align: center;
}

.articles{
    margin-top: 50px;
    margin-bottom: 70px;
}


/*Login page */
#login{
    color: rgb(14, 255, 14);
    
}

/*Account create */
.submit{
    color: rgb(14, 255, 14);

}
.back{
    color: rgb(14, 255, 14);
}


/*Welcome back page */
.enter{
    color: rgb(14, 255, 14);

}

/*Index.ejs page */
.dashboard {
    color: rgb(14, 255, 14);

}