<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%- include('../partials/head.ejs'); -%>
	</head>
	<body>
		
		<header>
			<h1>WHEN YOU FEEL LIKE QUITTING THINK ABOUT WHY YOU STARTED</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					
						<a href="/logic/new">START CREATING YOUR EXERCISE PLAN</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>