<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%- include('../partials/head.ejs'); -%>
	</head>

	<style>
        h1{
            color: rgb(40, 60, 238)
        }
    </style>
	<body>
		
		<header>
			<h1>Exercise plan</h1>			
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
						<a href="/logic/new">CREATE PLAN</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>