<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
</head>
<body>
  <form action="/" method="POST">
    Exercise (gym/running/swimming): <input type="text" name="exercise">
    Type (cardio/strength/flexibility/balance): <input type="text" name="type">
    Location: <input type="text" name="location">
    Date: <input type="date" name="date">
    Image URL: <input type="text" name="img">
    Calories burned: <input type="text" name="calories">
    Completed: <input type="checkbox" name="completed">
    Description: <input type="text" name="description">
    <input type="submit" value="SAVE THIS WORKOUT">
  </form>
</body>
</html>