<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <h1>what's the plan?</h1>
      <form action="/app" method="POST">
        <label for="exercise">Exercise gym/run/swim</label>
        <input type="text" name="exercise" id="exercise"/>
        <br><label for="type">Type (cardio/strength/flexibility/balance)</label>
        <input type="text" name="type" id="type"/>
        <br><label for="location">location</label>
        <input type="text" name="location" id="location"/>
        <br>Date: <input type="date" name="date">
        <br>Image URL: <input type="text" name="img">
        <br>Calories burned: <input type="text" name="calories">
        <br> Completed: <input type="checkbox" name="completed">
        <br>Description: <input type="text" name="description">
        <br><input type="submit" value="SAVE THIS WORKOUT">

      </form>
    </body>
</html>