<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="header">
    </div>
    <div class="container">
        <br />
        <h1>Welcome Back!</h1>
        <div class="row">
            <form class="col s12" action="/sessions" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="username">User Name</label>
                        <input id="username" type="text" class="validate" name="username" required />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="validate" name="password" required />
                    </div>
                </div>
                <br />
                <button class="enter" type="submit" name="action">
                    Enter
                </button>
            </form>
        </div>
    </div>
</body>

</html>